<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msj.football.mapper.FootballRankingMapper">
  <resultMap id="BaseResultMap" type="com.msj.common.entity.FootballRanking">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="ranking" jdbcType="INTEGER" property="ranking" />
    <result column="plays" jdbcType="INTEGER" property="plays" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="win" jdbcType="INTEGER" property="win" />
    <result column="draw" jdbcType="INTEGER" property="draw" />
    <result column="lose" jdbcType="INTEGER" property="lose" />
    <result column="goal" jdbcType="INTEGER" property="goal" />
    <result column="conceded" jdbcType="INTEGER" property="conceded" />
    <result column="goal_difference" jdbcType="INTEGER" property="goalDifference" />
  </resultMap>
  <sql id="Base_Column_List">
    id, team_id, ranking, plays, point, win, draw, lose, goal, conceded, goal_difference
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from football_ranking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from football_ranking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.msj.common.entity.FootballRanking">
    insert into football_ranking (id, team_id, ranking, 
      plays, point, win, 
      draw, lose, goal, conceded, 
      goal_difference)
    values (#{id,jdbcType=INTEGER}, #{teamId,jdbcType=INTEGER}, #{ranking,jdbcType=INTEGER}, 
      #{plays,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}, #{win,jdbcType=INTEGER}, 
      #{draw,jdbcType=INTEGER}, #{lose,jdbcType=INTEGER}, #{goal,jdbcType=INTEGER}, #{conceded,jdbcType=INTEGER}, 
      #{goalDifference,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.msj.common.entity.FootballRanking">
    insert into football_ranking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="ranking != null">
        ranking,
      </if>
      <if test="plays != null">
        plays,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="win != null">
        win,
      </if>
      <if test="draw != null">
        draw,
      </if>
      <if test="lose != null">
        lose,
      </if>
      <if test="goal != null">
        goal,
      </if>
      <if test="conceded != null">
        conceded,
      </if>
      <if test="goalDifference != null">
        goal_difference,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="ranking != null">
        #{ranking,jdbcType=INTEGER},
      </if>
      <if test="plays != null">
        #{plays,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="win != null">
        #{win,jdbcType=INTEGER},
      </if>
      <if test="draw != null">
        #{draw,jdbcType=INTEGER},
      </if>
      <if test="lose != null">
        #{lose,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=INTEGER},
      </if>
      <if test="conceded != null">
        #{conceded,jdbcType=INTEGER},
      </if>
      <if test="goalDifference != null">
        #{goalDifference,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msj.common.entity.FootballRanking">
    update football_ranking
    <set>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="ranking != null">
        ranking = #{ranking,jdbcType=INTEGER},
      </if>
      <if test="plays != null">
        plays = #{plays,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="win != null">
        win = #{win,jdbcType=INTEGER},
      </if>
      <if test="draw != null">
        draw = #{draw,jdbcType=INTEGER},
      </if>
      <if test="lose != null">
        lose = #{lose,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        goal = #{goal,jdbcType=INTEGER},
      </if>
      <if test="conceded != null">
        conceded = #{conceded,jdbcType=INTEGER},
      </if>
      <if test="goalDifference != null">
        goal_difference = #{goalDifference,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msj.common.entity.FootballRanking">
    update football_ranking
    set team_id = #{teamId,jdbcType=INTEGER},
      ranking = #{ranking,jdbcType=INTEGER},
      plays = #{plays,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      win = #{win,jdbcType=INTEGER},
      draw = #{draw,jdbcType=INTEGER},
      lose = #{lose,jdbcType=INTEGER},
      goal = #{goal,jdbcType=INTEGER},
      conceded = #{conceded,jdbcType=INTEGER},
      goal_difference = #{goalDifference,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>